/* ----------------- GLOBAL STYLES ----------------- */

:root {

  /* FONT SIZES */
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* FONT WEIGHTS */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* LINE HEIGHT */
  --line-height-normal: 1.5;
  --line-height-tight: 1.2;

  /* LETTER SPACE */
  --letter-sapce-tight: -2px;

  /* FONT FAMILY */
  --font-family: 'Roboto', sans-serif;

  /* COLORS */
  --white: #ffffff;
  --black: #000000;

  --grey-tint: #495057;
  --grey-base: #f1f3f5;
  --grey-shade: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-normal);
  /* color: var(--grey-base); */
  background-color: var(--black);
}

.container {
  max-width: 1400px;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--white);
}

h1, h2, h3, h4, h5 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-sapce-tight);
  /* color: var(--grey-shade); */
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p {
  font-size: var(--text-base);
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: var(--text-base);
}

a:hover, a:link, a:active, a:visited {
  color: var(--grey-base);
}

span {
  display: inline-block;
}

ul {
  list-style: none;
}


/* -----------------  ----------------- */

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    'sidebar header'
    'sidebar main-content';

  border: 1px solid black;
}


/* ----------------- HEADER ----------------- */
.header {
  grid-area: header;
  display: grid;
  grid-template-rows: 40% 60%;
  padding: 10px 40px;
  

  border: 1px solid black;
}

.header-grid-row-one {
  display: grid;
  height: 100%;
  grid-template-columns: 4fr 2fr;
  gap: 40px;
  /* align-content: center; */
  
}

.search-bar {
  display: grid;
  grid-template-columns: .3fr 4fr;
  justify-content: center;
  align-content: center;
}

.user-profile {
  display: grid;
  grid-template-columns: 50px 60px 120px;
  justify-content: end;
  justify-items: end;
  align-items: center;
  /* gap: 15px; */
}


.header-grid-row-two {
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: 100%;
  gap: 40px;

  /* align-content: center; */
  
}

.user-profile-two {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 20px;
  align-items: center;
}

.user-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40%;
  gap: 20px;
  align-content: center;
  justify-content: end;
  justify-items: end;
  
}

.user-buttons > button {
  background-color: rgb(0, 179, 255);
  border: none;
  width: 80px;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  border-radius: 20px;


}





/* ----------------- SIDEBAR ----------------- */
.sidebar {
  height: 100vh;
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 60px 270px 135px ;
  gap: 30px;
  color: var(--white);
  font-weight: var(--font-weight-bold);
  padding: 20px 10px 10px 10px;
  width: 100%;

  background-color: rgb(0, 179, 255);

  border: 1px solid black;
}

.sidebar-grid-1, .sidebar-grid-2, .sidebar-grid-3 {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  gap: 5px;
}

.sidebar-grid-2 {
  margin-bottom: 20px;
}

.fill-white {
  fill: white;
  justify-self: center;
}

.fill-black {
  fill: black;
  justify-self: center;
}

.large-icons {
  width: 70px;
  height: 70px;
}

.medium-icons {
  width: 50px;
  height: 50px;
}

.small-icons {
  width: 30px;
  height: 30px;
}



.main-content {
  grid-area: main-content;

  border: 1px solid black;
}






/* ----------------- GLOBAL STYLES ----------------- */


/* ----------------- GLOBAL STYLES ----------------- */

/* ----------------- COMPONENTS ----------------- */

.bold {
  font-weight: var(--font-weight-bold);
}