* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  height: 100vh;
  background-color: #88b7bf;
  background: url(./images/wp8984722.jpg) center / cover no-repeat fixed;
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;  
 
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  max-width: 90%;
  box-shadow: -5px -5px 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.grid-two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 30px 0px ;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);

}

.grid-col-one {
  display: grid;
  gap: 15px;
  justify-content: center;
  align-content: space-evenly;
}

.grid-col-one input {
  width: 150px;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;

}

.grid-col-two {
  display: grid;
  gap: 20px;
  justify-content: center;
  align-content: space-evenly;
}

.grid-three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-content: center;

  box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.5);
  
}


.grid-row {
  display: grid;
  gap: 5px;
}

button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
}

#start {
  background-color: green;
  color: white;
  border: white;
  box-shadow: 2px 2px 5px 0px black;
}

#restart {
  background-color: red;
  color: white;
  border: black;
  box-shadow: 2px 2px 5px 0px black;
}

.grid-row-buttons {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-content: center;

}


#player-assignment-one, #player-assignment-two, #player-assignment-message {
  text-align: center;
  color: green;
  font-size: larger;
  font-weight: bolder;
}

#restart-msg {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bolder;
  padding: 5px 0;
}


.boxes {
  border: 2px solid black;
  outline: none;
  caret-color: transparent;
  width: 100%;
  height: 100%;
  font-size: 100px;
  text-align: center;
  background-color: transparent;
}

#one-1, #two-2, #three-3 {
  border-top: none;
}
#seven-7, #eight-8, #nine-9 {
  border-bottom: none;
}
#one-1, #four-4, #seven-7 {
  border-left: none;
}
#three-3, #six-6, #nine-9 {
  border-right: none;
}

.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
  /* padding: 10px; */
}

#congrats {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 5;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
}

#congrats img {
  opacity: 0.9;
  width: 100%;
}

/* this is the updted one */