* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
    padding: 15px;

    border: 1px solid white;
}

.nav-1 {
    display: flex;
}

.nav-2 {
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin: 0 300px;
    padding: 15px;

    border: 1px solid;
}

.hero-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero-2 > img {
    max-width: 100%;
}

button {
    align-self: flex-start;
    color: white;
    background-color: #3882f6;
    padding:  5px 20px;
    border-radius: 10px;
}