* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

html {
    /* font-size: 62.5%; */
}

.container {
    max-width: 70%;
    /* width: 100%;  */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    border: 1px solid;

}

.left-container {
    width: 40%;
    position: relative;

}

#left-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    padding: 10px 0;
    border: 1px solid black;
    color: white;
    background-color: black;
    opacity: 0.5;
}


.right-container {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



.right-first-div {
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    width: 100%;

    padding: 0 70px 0px 30px; 

    border: 1px solid;
}

h2 {
    white-space: normal;  /* allows wrapping */
    font-size: clamp(16px, 2vw, 24px); /* optional: responsive font */
}

.right-second-div {
    height: 30vh;
    width: 100%;  
    border: 1px solid;
}

.right-third-div {
    height: 30vh;

    /* padding:    come back here her fix values here */

    border: 1px solid;
}